# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# CMake build directories
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# IDE-specific stuff
.vscode/ipch/
.vscode/.cmake/
.vscode/launch.json
.vscode/targets.log

# Temporary files
*.obj
*.o
*.log
*.tmp
*.exe
*.out
*.a
*.so
*.dll
*.dSYM/
*.swp

# Dependency build folders (CMake FetchContent)
_deps/